@import url(../style.less);

.layout {
  .paper {
    background: #fff;
    width: 960px;
    margin: 50px auto 50px;
    @media (max-width: 960px) {
      width: 100%;
      margin: 0;
    }
    header.layout-header {
      padding: 20px 45px 0 45px;
      zoom: 1;
      &:before,
      &:after {
        content: " ";
        display: table;
      }
      &:after {
        clear: both;
        visibility: hidden;
        font-size: 0;
        height: 0;
      }
      .header-content {
        border-bottom: 1px solid #585858;
        .header-bottom-line {
          height: 3px;
          background: #585858;
          margin-bottom: 2px;
        }
        .title {
          display: inline-block;
          width: 300px;
          @media (max-width: 960px) {
            display: none;
          }
          .logo{
            width: 100%;
            -webkit-filter: saturate(.1);
            filter: saturate(.1);
          }
        }
        .nav {
          float: right;
          line-height: 40px;
          @media (max-width: 960px) {
            float: none;
            text-align: center;
          }
          ul {
            margin: 0;
            padding: 0;
            li {
              display: inline-block;
              padding: 0 20px;
              &.to-home {
                display: none;
              }
              a {
                color: #585858;
                &:hover {
                  color: @hue;
                }
              }
              @media (max-width: 960px) {
                padding: 0 2%;
                &.to-home {
                  display: inline-block;
                }
              }
            }
          }
        }
      }
    }

    .layout-content {
      padding: 30px 45px 0 45px;
    }
  }

  footer {
    text-align: center;
    font-weight: 100;
    p {
      margin: .5em;
      a {
        color: #ccc;
        transition: color .3s cubic-bezier(.215,.61,.355,1);
        &:hover {
          color: #585858;
        }
      }
    }
    
    .linkup {
      font-size: 12px;
      a {
        margin: 0 2.5px;
        color: #585858
      }
    }
  }
}