@import url(../style.less);

.layout {
  .paper {
    background: #fff;
    width: 960px;
    margin: 50px auto 80px auto;
    transition: box-shadow .5s cubic-bezier(.215,.61,.355,1);
    transition: transform .5s cubic-bezier(.215,.61,.355,1);
    &:hover {
      transform: translateY(-2px);
      // box-shadow: rgba(100, 100, 100, 0.1) 0 0 10px 0;
      box-shadow: rgba(0, 0, 0, 0.1) 0 0 2px 0, 2px 3px 5px 0px rgba(0,0,0,0.1);
    }
    header.layout-header {
      height: 40px;
      line-height: 40px;
      padding: 20px 45px 0 45px;
      zoom: 1;
      &:before,
      &:after {
        content: " ";
        display: table;
      }
      &:after {
        clear: both;
        visibility: hidden;
        font-size: 0;
        height: 0;
      }
      .header-content {
        border-bottom: 1px solid #ccc;
        .title {
          display: inline-block;
          width: 300px;
          text-align: center;
          .logo{
            height: 40px;
            -webkit-filter: saturate(.1);
            filter: saturate(.1);
          }
        }
        .nav {
          float: right;
          ul {
            margin: 0;
            padding: 0;
            li {
              display: inline-block;
              padding: 0 20px;
              a {
                color: #666;
                &:hover {
                  color: @hue;
                }
              }
            }
          }
        }
      }
    }

    .layout-content {
      padding: 30px 45px 0 45px;
    }
  }

  footer {
    text-align: center;
    font-weight: 100;
    a {
      color: #666;
    }
    .linkup {
      font-size: 12px;
      a {
        margin: 0 2.5px;
      }
    }
  }
}