@import url(../style.less);

.post-info {
  margin-bottom: 20px;
  font-size: 12px;
  color: #888;
  .mineicon {
    color: #999;
    font-size: 12px;
  }
  time {
    margin: 0 5px;
  }
  .tags a{
    color: #888;
    margin: 0 5px;
    transition: color .5s cubic-bezier(.215,.61,.355,1);
    &:hover {
      color: @hue;
    }
  }
}

.entry-content{
  .before-h(@content) {
    position: relative;
    &:hover {
      &:before {
        content: @content;
        text-align: right;
        position: absolute;
        left: -20px;
        bottom: 0;
        color: #ccc;
        font-size: 12px;
      }
    }
  }
  // 一级标题
  h1 {
    font-size: 20px;
    .before-h('H¹')
  }

  // 二级标题
  h2 {
    font-size: 16px;
    font-weight: 500;
    .before-h('H²')
  }

  // 三级标题
  h3 {
    font-size: 14px;
    font-weight: 500;
    .before-h('H³')
  }

  // 配图
  img {
    display: block;
    margin: auto;
    max-width: 100%;
  }
  // 引用
  blockquote {
    margin: 0;
    padding-left: 15px;
    border-left: 2px solid @hue;
    background: #f8f8f8;
  }
  // 切割线
  hr {
    display: block;
    border: none;
    margin: 7px 0;
    height: 1px;
    background: #ccc;
  }
  // 行内代码字符
  p code {
    background: #f8f8f8;
    padding: 3px;
    border-radius: 6px;
    color: shade(#f92672, 20%);
  }
}

.post-footer {
  position: relative;
  border-top: 1px solid #585858;
  text-align: center;
  padding-bottom: 20px;
  zoom: 1;
  &:before,
  &:after {
    content: " ";
    display: table;
  }
  &:after {
    clear: both;
    visibility: hidden;
    font-size: 0;
    height: 0;
  }
  .post-footer-line {
    height: 3px;
    background: #585858;
    margin-top: 2px;
    margin-bottom: 20px;
  }
  a {
    color: #555;
    cursor: pointer;
    transition: transform .5s cubic-bezier(.215,.61,.355,1);
    &.previous {
      float: left;
      .post-title {
        display: none;
      }
      &:hover {
        transform: translateX(2px);
        .label {
          display: none;
        }
        .post-title {
          display: inline;
        }
      }
    }
    &.next {
      float: right;
      .post-title {
        display: none;
      }
      &:hover {
        transform: translateX(-2px);
        .label {
          display: none;
        }
        .post-title {
          display: inline;
        }
      }
    }
  }
  .comment-tip {
    position: absolute;
    left: 50%;
    font-weight: 100;
    color: #ddd;
    @media (max-width: 960px) {
      display: none;
    }
    span {
      position: relative;
      left: -50%;
      -moz-user-select:none;
      -webkit-user-select:none;
      -ms-user-select:none;
      -khtml-user-select:none;
      user-select:none;
    }
  }
}